<%= form_for @user, :html => {class: 'edit_user form-horizontal'} do |f| %>
<div class="row"><legend class="col-md-4 col-md-offset-4"><h1>Modify Account:</h1></legend></div>
<fieldset>
    <div class="form-group">
        <%= f.label :name, 'Name*', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :name, 'Location*', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_field :location, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :name, 'Zip Code*', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.number_field :zip_code, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :email, 'Email*', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_field :email, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :name, 'About Me*', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_area :bio, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :password, 'Password*', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.password_field :password, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm Password*', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :avatar, 'Profile Picture', class: '' %>
        <div class="col-md-5"></div>
            <%= f.file_field :avatar, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <div class="btn btn-group">
            <%= f.submit 'Update', class: 'btn btn-outline-success', method: 'patch' %>
            <%= link_to 'Cancel', :back, class: 'btn btn-outline-secondary btn-md'%>
            <%= link_to 'Delete', user_path(current_user), class: 'btn btn-danger', method: 'delete' %>
        </div>
        </div>
    </div>
</fieldset>
<% end %>
