<div class="row">
<div class="col-sm-4">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" <%= image_tag @user.avatar.url(:medium) %>
        <div class="card-block">
            <h1 class="card text-center"><%= @user.name %></h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @user.location %></li>
            <li class="list-group-item"><%= @user.zip_code %></li>
            <li class="list-group-item"><%= @user.bio %></li>
        </ul>
        <div class="card-block">
    </div>
</div>
</div>

<br>

<div class="col-sm-8">
    <div class="card text-center">
        <div class="card-header">
            <h1>Your Posts</h1>
        </div>
        <div class="card-block">
            <h4 class="card-title"></h4>
            <ul>
                <% @user.posts.each do |p| %>
                    <li class="links"><%= link_to(p.title, post_path(p)) %></li>
                <% end %>
            </ul>
        </div>
        <div class="card-footer text-muted">
            <div class="btn-group btn-group-justified">
                <%= link_to 'Go to All Users', users_list_path, class: 'btn btn-outline-warning btn-lg' %>
                <%= link_to 'Go to All Posts', posts_path, class: 'btn btn-outline-warning btn-lg' %>
                <%= link_to 'Go to All Comments', comments_path, class: 'btn btn-outline-warning btn-lg' %>
            </div>                        
        </div>
    </div>
</div>
</div>
