<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<h1>My Posts</h1>

<%= form_for current_user do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_area :body, placeholder: "Body" %>
    <%= f.text_field :pic_url, placeholder: "Add Link Here" %>
    <%= f.submit 'Add Post' %>
<% end %>


<!-- <%= form_for (@post.current_user) do |f| %>
<h1>Add a Post:</h1>
    <div class="form-group">
        <%= f.label :title, 'Title*', class: '' %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :body, 'Body*', class: '' %>
        <%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :pic_url, 'Add Link Here*', class: '' %>
        <%= f.url_field :pic_url, class: 'form-control-file' %>
     </div>
<% end %> -->



