<%= form_for @post do |f| %>
<h1>Create new post:</h1>
<div class="form-group">
    <%= f.label :title, 'Title*', class: '', placeholder: "Title" %>
    <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :body, 'Body*', class: '', placeholder: "What do you want to say?" %>
    <%= f.text_area :body, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :pic_url, 'Post Photo*', class: '', placeholder: "Put photo link here" %>
    <%= f.file_field :picture, class: 'form-control' %>
</div>

<%= f.submit 'Add Post', class: 'btn btn-primary' %>
<%= link_to 'Back', :back, class: 'btn btn-secondary btn-md'%>
<% end %>