<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h1><%= @post.title %></h1>
<h2><%= @post.body %></h2>
<h2><%= image_tag @post.picture.url %></h2>

<!-- show the name of the user who made the post -->
Posted by: <%= link_to @post.user.name, user_path(@post.user) %>
about <%= time_ago_in_words @post.created_at %> ago

<%= link_to 'Add Comment', new_comment_path(@comment), class: 'btn btn-success btn-lg"', method: 'get' %>
<% if current_user == @post.user %>
<%= link_to 'Edit Post', edit_post_path(@post.id), class: 'btn btn-warning btn-lg"' %>
<% end %>
