<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h1><%= @post.title %></h1>
<h2><%= @post.body %></h2>
<h2><%= image_tag @post.picture.url %></h2>

<!-- show the name of the user who made the post -->
Posted by: <%= link_to @post.user.name, user_path(@post.user) %>
about <%= time_ago_in_words @post.created_at %> ago

<%= link_to 'Back', :back, class: 'btn btn-secondary btn-md'%>
<% if current_user == @post.user %>
<%= link_to 'Edit Post', edit_post_path(@post.id), class: 'btn btn-warning btn-lg"' %>
<% end %>

<h2>Comments</h2>

<ul>
    <% @post.comments.each do |c| %>
        <li><%= link_to(c.title, comment_path(c)) %></li>
        <% if current_user == c.user %>
            <%= link_to 'Edit Comment', edit_comment_path(c.id), class: 'btn btn-warning btn-sm' %>
        <% end %>
        <% if current_user == @post.user || c.user %>
        <%= link_to 'Delete Comment', comment_path(c.id), class: 'btn btn-danger btn-sm', method: 'delete' %>
        <% end %>
    <% end %>
</ul>

<%= form_for @comment do |f| %>
<h1>New Comment:</h1>
<div class="form-group">
    <%= f.label :title, 'Title*', class: '', placeholder: "Title" %>
    <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :body, 'Body*', class: '', placeholder: "What do you want to say?" %>
    <%= f.text_area :body, class: 'form-control' %>
</div>
<%= f.hidden_field :post_id, value: params[:id] %>
<%= f.submit 'Add Comment', class: 'btn btn-primary' %>
<% end %>