<div class="card text-center">
        <div class="card-header">
                <h1><%= @post.title %></h1>
        </div>
        <div class="card-block">
          <h4 class="card-title"><%= image_tag @post.picture.url %></h4>
          <p class="card-text"><h2><%= @post.body %></h2></p>
          <div class="btn-group btn-group-justified">
          <%= link_to 'Back', :back, class: 'btn-group btn-group-justified btn-secondary btn-lg'%>
          <% if current_user == @post.user %>
          <%= link_to 'Edit Post', edit_post_path(@post.id), class: 'btn-group btn-group-justified btn-outline-warning btn-lg' %>
          <% end %>
          </div>
        </div>
        <div class="card-footer text-muted">
            <!-- show the name of the user who made the post -->
            Posted by: <%= link_to @post.user.name, user_path(@post.user) %>
            about <%= time_ago_in_words @post.created_at %> ago
        </div>
      </div>
<br>

<h1>Comments</h1>

<ul>
    <% @post.comments.each do |c| %>
        <li class="links"><%= link_to(c.title, comment_path(c)) %></li>
        <% if current_user == c.user %>
            <%= link_to 'Edit Comment', edit_comment_path(c.id), class: 'btn btn-outline-warning btn-sm' %>
        <% end %>
        <% if current_user == @post.user || c.user %>
        <%= link_to 'Delete Comment', comment_path(c.id), class: 'btn btn-outline-danger btn-sm', method: 'delete' %>
        <% end %>
    <% end %>
</ul>
<br>
<%= form_for @comment do |f| %>
<h1>New Comment:</h1>
<div class="form-group">
    <%= f.label :title, 'Title*', class: '', placeholder: "Title" %>
    <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :body, 'Body*', class: '', placeholder: "What do you want to say?" %>
    <%= f.text_area :body, class: 'form-control' %>
</div>
<%= f.hidden_field :post_id, value: params[:id] %>
<%= f.submit 'Add Comment', class: 'btn btn-primary' %>
<% end %>