<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"></a><%= link_to 'Grammetry', root_path, class: 'btn btn-outline-secondary btn-lg"' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
        <% if logged_in? %>
            <li class="nav-item">
            <%= link_to 'Home', user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'Add Post', new_post_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'Logout', logout_path, class: 'nav-link', method: 'delete' %>
            </li>
            <!-- <li class="nav-item">
                    <button class="btn btn-danger navbar-btn" <%= link_to 'Delete Account', user_path(current_user), class: 'nav-link', method: 'delete' %> </button>
            </li> -->
            <form class="form-inline my-2 my-lg-0" action="<%= users_list_path %>" method="get">
            <input name="query" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        <% else %>
            <li class="nav-item">
                <%= link_to 'Log In', new_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item"></li>
                <%= link_to 'Sign Up', new_user_path, class: 'nav-link' %>
            </li>
        <% end %>
      </ul>
    </div>
  </nav>