<!DOCTYPE html>
<html>
  <head>
    <title>Grammetry</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico" rel="stylesheet">
    <link rel="shortcut icon" href="../images/grammetry_logo.png">
  </head>

  <body class="<%= "home" if current_page?(root_path) %>">
    <div class="home">
    <%= render 'layouts/partials/navbar' %>
    <%= render 'layouts/partials/flash' %>
    <%= render 'layouts/partials/modal' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/partials/footer' %>
  </div>
  </body>
</html>
